{% extends 'home/base.html' %}

{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-5 mx-auto">

            <div class="card p-4">
                <h2 class="text-center mb-4">Change Password</h2>

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Current Password</label>
                        <input 
                            type="password" 
                            name="current_password" 
                            class="form-control" 
                            required
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">New Password</label>
                        <input 
                            type="password" 
                            name="new_password" 
                            class="form-control" 
                            required
                        >
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Confirm New Password</label>
                        <input 
                            type="password" 
                            name="confirm_password" 
                            class="form-control" 
                            required
                        >
                    </div>

                    <button type="submit" class="btn btn-dark w-100">
                        Change Password
                    </button>
                </form>

                <div class="text-center mt-3">
                    <a href="/profile/">Back to Profile</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
