{% extends 'home/base.html' %}

{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-5 mx-auto">

            <div class="card p-4">
                <h2 class="text-center mb-4">Login</h2>

                <form method="POST">
                    {% csrf_token %}

                    <input type="hidden" name="next" value="{{ next }}">

                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-dark w-100">
                        Login
                    </button>
                </form>

                <p class="text-center mt-3">
                    Do not have an account?
                    <a href="/register/">Register here</a>
                </p>
            </div>

        </div>
    </div>
</div>

{% endblock %}

